
.side-bar{
    position: relative;
    width: 100%;
    float: none;
}
.main {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}
.main .article-list {
    margin-right: 0;
}
.side-bar .nav,
.side-bar .tag-list {
    text-align: center;
    display: none;
}
#menu-toggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    font-weight: 100;
    color: rgba(255, 255, 255, .7)

}

.side-bar #checkbox:checked ~ .nav,
.side-bar #checkbox:checked ~ .tag-list{
    display: block;
}